<div class="container  mt-3 mb-5">
  <div class="row">
    
    <%= render 'users/user_info', book: @book %>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <hr noshade>
      <table width="100%">
        <td width="25%">
          <div class="user-info">
            <%= image_tag @book.get_image(100,100) %><br>
            <%= link_to user_path(@book.user_id) do %>
              <%= @book.user.name %>
            <% end %>
          </div>
        </td>
        <td width="15%" class="align-text-top">
          <%= link_to book_path(@book.id) do %>
            <%= @book.title %>
          <% end %>
        </td>
        <td width="30%" class="align-text-top">
          <%= @book.body %>
        </td>
        <td width="15%" class="align-text-top">
          <% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success' %>
          <% end %>
        </td>
        <td width="15%" class="align-text-top">
          <% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?", class:'btn btn-danger' %>
          <% end %>
        </td>
      </table>
    </div>
  </div>
</div>